@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.space-bg {
  background-image: url('../public/imgs/space-bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.tinted {
  background-color: rgba(0, 0, 0, .4);
}

.alien-green {
  color: #00FF5D;
}

.bg-alien-green {
  background-color: #00FF5D;
}

.bg-alien-green:hover {
  transition-duration: 200ms;
  background-color: transparent;
  border: 1px solid #00FF5D;
  color: #00FF5D;
}

.bg-dark {
  background-image: linear-gradient(#000000, #000525);
}

.info-txt {
  font-family: 'Source Code Pro', monospace;
}

.headings {
  font-family: 'Rubik', sans-serif;
}

.smol-spacer {
  height: 5px;
  width: 15%;
}

.lg-spacer {
  height: 2px;
  width: 90%;
}

.squiggle-square {
  background-color: white;
  border-radius: 0px 50px 0px 50px
}


/* Auth Css */
.regForm {
  color: white;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.instructions > svg {
  color: white;
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.persistCheck {
  font-size: 0.75rem;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.persistCheck label {
  margin: 0;
}

[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0 5px 2px 2px;
}
.card {
  cursor: pointer;
}

.card:hover > .card-heading {
  text-decoration: underline;
}

/* The Modal (background) */
.modal {
 /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.resourceButton {
  background-color: white;
  width: 100px;
}

.dash-container {
  display: flex;
  justify-content: space-around;
}

/*scrollbar styling */
.modal-scroll::-webkit-scrollbar {
  width: 4px;
}

.modal-scroll::-webkit-scrollbar {
  background: none;
}

.modal-scroll::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
